html, body {	height: 100%; padding: 0px; margin: 0px;font-family: "Verdana"; font-size: 24px;


}

a{	text-decoration: none;}

.clear{	clear: both;}

.upper{	text-transform: uppercase;}


.content{	width: 1350px;
	margin: 0 auto;
}

.content > div{
	clear: both;
}

.menu{
	position: absolute;
	width: 100%;
	height: 70px;
	background: rgba(255,255,255,0.9);
	z-index: 999;

}

.menu a{    color: black;
}

.menu .logo{	margin-left: 35px;}

.menu .subcontent{	text-align: left;}

.menu img{	float: left;
	display: block;
}

.menu ul{
	float: left;}

@font-face {
    font-family: open_sans; /* Гарнитура шрифта */
    src: url(fonts/open_sans.ttf); /* Путь к файлу со шрифтом */
   }

.menu li{

    margin-left: 50px;


    font-family: open_sans;
	font-size: 21px;
	font-weight: bold;

}


.menu li:hover{	cursor: hand;
	cursor: pointer;
}

.menu li:hover, .menu li.sel{	border-bottom: solid 3px black;}

.menu li.sel{
	border-bottom-color: rgb(0,122,195);}

.menu li.sel a{
	color: rgb(0,122,195);
	border-bottom-color: rgb(0,122,195);
}

li {
	float: left;
	display: block;
}


h2{
	color: rgb(0,122,195);
	font-size: 40px;
	display: block;
}

div {	text-align: center;}

ul{
	list-style: none;
}



#header{	position: relative;}

.img_text{	position: absolute;
	left:100px;
	top:100px;
	color:white;
	font-weight: bold;}

.img_text.yellow{	color: rgb(222,195,60);    font-weight: normal;}


#catalog{}

.subcontent   {
	width: 1150px;
	margin: 0 auto;
}




#catalog ul{	list-style: none;}

#catalog li{
	width: 350px;
	height: 510px;
	margin: 10px;
	border: solid 1px lightgray;
	line-height: 2.5;
	font-size: 18px;}


#catalog li .pictures{
	position: relative;
	height: 285px;
	clear: both;
}

#catalog li .pictures img{	display: block;
	position: absolute;
}


#catalog li .picture{    width:100%;
    border-bottom: solid 1px lightgray;
    left: 0xp;
	top: 0px;}

#catalog li .free_delivery{

	left: 0xp;
	top: 0px;
	display: none;
	visibility: hidden;

}

#catalog li .sale{
	top: 10px;
	right: 10px;
	display: none;
	visibility: hidden;
}

#catalog li.free_delivery .free_delivery{
	visibility: visible;
}

#catalog li.sale .sale{
	visibility: visible;
}


#catalog li .stock{
	color: rgb(0,122,195);
	font-size: 18px;
}


#catalog li .order{
	background-color: rgb(193,0,52);
	width: 280px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 auto;
	display: block;
}




#catalog .price1{     text-decoration: line-through;
}

#catalog .price2{
     color: red;

}




#rest{     background: rgb(240,240,240);
	 clear:both;
	 padding-top: 1px;
	 padding-bottom:20px;}


ul {	height: auto;}

ul.absolute_text  li{
	position: relative;	float: left;
	display: block;
	margin: 15px;
	width: 544px;
}

ul.absolute_text  li img{
	//position: absolute;
	left: 0px;
	top: 0px;
}


ul.absolute_text li div{
	position: absolute;
	text-transform: uppercase;
	font-size: 22px;
	color: rgb(222,195,64);
	text-align: left;
	font-weight: bold;
}

#rest ul.absolute_text li div span{	color: white;}



#rest li.last{	clear: both;
	margin-left: 250px;
}



#about img{	display: block;
	margin: 0 auto;}


#instruction {	height: 900px;
	padding-top:1px;
}

#instruction img{	width: 542px;
	height: 542px;}


#delivery > img {	float: left;

}

#delivery > img.first {
	margin-top: 20px;
	margin-left: 40px;

}

#delivery ul{
	float: left;
	width: 455px;
	display: table;
}



#delivery li{
	padding-left: 80px;
	padding-top: 8px;    background: url("imgs/del1.jpg") no-repeat left center ;
    color: white;
    font-size: 20px;
    min-height: 65px;
    width: 100%;
    text-align: left;
}




#delivery li.li2{
    background-image: url("imgs/del2.jpg");
}

#delivery li.li3{
    background-image: url("imgs/del3.jpg");
}



.line{	border-top: solid 2px black;
	height: 0px;}
.blue{	border-color: rgb(140,181,221);}

span.red{	color: red;}

.button{
	padding:20px;

	display: inline-block;
	margin: 20px auto;
	clear: both;
	font-weight: bold;}

.button.red{	background: red;
	color: white;}

.button.red_out{
	border: solid 3px red;
	color: red;
}


.phone{	background: url("imgs/phone.png") no-repeat left center;
	padding-left: 30px;
	color: rgb(0,122,195);
}


#contacts{	line-height: 2;}

#footer{	font-size:40px;
	color: white;}
#footer span{
	font-size:30px;
}
#footer img{	display: block;
	margin-top: 20px;}





	#send_req_id{
		font-size: 15px;
		font-weight: none;
   	     display: none; width: 100%;
   	     height:100%; z-index:998;margin: 0 0;
   	      position: fixed;
		 background: rgba(0,0,0,0.5)
   }

   #send_req_id1{
   		 width: 100%; z-index:999;margin: 100px auto; position: fixed;
   }

   #send_req  {
   		 width: 600px; border: solid 1px gray; background: rgb(247, 247, 247);  padding: 10px
   }

    #send_req input[type=text],  #send_req textarea{    	width: 400px;    }

   #send_req input[type=submit]{
   		 padding: 10px; text-transform: uppercase; background-color: rgb(61,122,190); color: white;


   }















                      div#rotator  { position: relative; padding-top: 20px;}
     				  div#rotator ul {padding-left: 50px; margin: auto 0; cursor: hand; cursor: pointer; }
					  div#rotator ul li {float:left; position:absolute; list-style: none; padding: 0; margin-left: 0px }

			          #aNextButton:hover { background-position: -53px -center;  }
					  #aPrevButton:hover { background-position: -195px -center; }

					  #aPrevButton {display: block; float:left ;   width:54px; height: 100%; border: solid 0px black;  background: url("imgs/g-pbox2.png")  left center no-repeat;   }
					  #aPrevButton:hover{
					  	//background-color: gray;opacity: 0.5;
					  }
					  #aNextButton {display: block;  float:right ;   width:54px; height: 100%; border: solid 0px black;  background: url("imgs/g-pbox2.png")  -130px center no-repeat;    }
					  #aNextButton:hover{
					  	//background-color: gray;opacity: 0.5;
					   }

					   div#rotator .anons {					   		position: absolute;
					   		top: 400px;
						   	left: 75px;
					   }

					   div#rotator .anons a{					   		display: block;
					   		float:left;
					   		border: solid 3px rgb(30,30,30);
					   		margin-left: 10px;
                            display: none;					   }

					   div#rotator .anons a.show{
					   	    display: block;
					   }

					   div#rotator .anons a.sel{					   		border-color: rgb(255,201,30);					   }
					   div#rotator .anons img{					   		width:315px;					   }