html, body {	height: 100%; padding: 0px; margin: 0px;font-family: "Verdana"; font-size: 24px;


}

.clear{	clear: both;}

.upper{	text-transform: uppercase;}


.content{	width: 1350px;
	margin: 0 auto;
}

.content > div{
	clear: both;
}

.menu{
	position: fixed;
	width: 100%;
	height: 70px;
	background: rgba(255,255,255,0.5);
	z-index: 999;
}

.menu .subcontent{	text-align: left;}

.menu img{	float: left;
	display: block;
}

.menu ul{
	float: left;}

.menu li{
	font-size: 20px;

}

li {
	float: left;
	display: block;
}


h2{
	color: rgb(0,122,195);
	font-size: 40px;
}

div {	text-align: center;}

ul{
	list-style: none;
}




#catalog{}

.subcontent   {
	width: 1150px;
	margin: 0 auto;
}




#catalog ul{	list-style: none;}

#catalog li{
	width: 350px;
	height: 510px;
	margin: 10px;
	border: solid 1px lightgray;
	line-height: 2.5;
	font-size: 18px;}


#catalog li .pictures{
	position: relative;
	height: 285px;
	clear: both;
}

#catalog li .pictures img{	display: block;
	position: absolute;
}


#catalog li .picture{
    left: 0xp;
	top: 0px;}

#catalog li .free_delivery{

	left: 0xp;
	top: 0px;
	display: none;

}

#catalog li .sale{
	top: 0px;
	right: 0px;
	display: none;
}

#catalog li.free_delivery .free_delivery{
	display: block;}

#catalog li.sale .sale{
	display: block;
}


#catalog li .stock{
	color: rgb(0,122,195);
	font-size: 18px;
}


#catalog li .order{
	background-color: rgb(193,0,52);
	width: 280px;
	height: 70px;
	text-align: center;
	line-height: 70px;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 auto;
}




#catalog .price1{     text-decoration: line-through;
}

#catalog .price2{
     color: red;

}




#rest{     background: rgb(240,240,240);
	 clear:both;}


ul {	height: auto;}

ul.absolute_text  li{
	position: relative;	float: left;
	display: block;
	margin: 15px;
	width: 544px;
}

ul.absolute_text  li img{
	//position: absolute;
	left: 0px;
	top: 0px;
}


ul.absolute_text li div{
	position: absolute;
	text-transform: uppercase;
	font-size: 22px;
	color: rgb(222,195,64);
	text-align: left;
	font-weight: bold;
}

#rest ul.absolute_text li div span{	color: white;}



#rest li.last{	clear: both;
	margin-left: 250px;
}



#about img{	display: block;
	margin: 0 auto;}


#instruction {	height: 900px;
}


#delivery > img {	float: left;

}

#delivery ul{
	float: left;
	width: 600px;
	display: table;
}



#delivery li{
	padding-left: 70px;
	padding-top: 20px;    background: url("imgs/del1.jpg") no-repeat left center ;
    color: white;
    font-size: 20px;
    min-height: 55px;
    width: 100%;
    text-align: left;
}




#delivery li.li2{
    background-image: url("imgs/del2.jpg");
}

#delivery li.li3{
    background-image: url("imgs/del3.jpg");
}



.line{	border-top: solid 2px black;
	height: 0px;}
.blue{	border-color: rgb(140,181,221);}

span.red{	color: red;}

.button{
	padding:25px;
	display: block;
	margin: 0 auto;
	clear: both;}

.button.red{	background: red;
	color: white;}

.button.red_out{
	border: solid 1px red;
	color: red;
}


.phone{	background: url("imgs/phone.png") no-repeat left center;
	padding-left:20px;}